{% extends 'base.html.twig' %}

{% block title %}Publier{% endblock %}

{% block body %}
    <h1>Publier une annonce</h1>

    <table class="table table-striped">
        <thead>
        <tr>
            <th>Titre</th>
            <th>Adresse</th>
            <th>Description</th>
            <th>actions</th>
        </tr>
        </thead>
        <tbody>
        {% for annonce in annonces %}
            {% if annonce.owner is not null and annonce.owner.id is defined and app.user.id == annonce.owner.id %}
                <tr>
                    <td>{{ annonce.title }}</td>
                    <td>{{ annonce.place }}</td>
                    <td>{{ annonce.description }}</td>
                    <td>
                        <a class="btn btn-info" href="{{ path('app_annonce_show', {'id': annonce.id}) }}">Voir</a>
                        <a class="btn btn-primary" href="{{ path('app_annonce_edit', {'id': annonce.id}) }}">Modifier</a>
                    </td>
                </tr>
            {% endif %}
        {% else %}
            <tr>
                <td colspan="4">Aucune annonce</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a class="btn btn-primary" href="{{ path('app_annonce_new') }}">Créer une nouvelle annonce</a>
{% endblock %}
