{% extends 'base.html.twig' %}

{% block title %}Annonce{% endblock %}

{% block body %}
    <h1>Annonce</h1>

    <table class="table table-striped">
        <tbody>
                <th>Titre</th>
                <td>{{ annonce.title }}</td>
            </tr>
            <tr>
                <th>Adresse</th>
                <td>{{ annonce.place }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ annonce.description }}</td>
            </tr>
            <tr>
                <th>Candidats</th>
                <td>
                    {% for c in annonce.postulation %}
                        {% if c.isCandidatureValidate == true %}
                            {{ c.firstname }} {{ c.lastname }} <a href="{{ asset('images/recette/' ~ c.imageName) }}">Voir le CV</a><br>
                        {% endif %}
                    {% endfor %}
                </td>
            </tr>
        </tbody>
    </table>

    <a class="btn btn-info" href="{{ path('app_annonce_index') }}">Retour</a>

    <a class="btn btn-primary" href="{{ path('app_annonce_edit', {'id': annonce.id}) }}">Modifier</a>

    {{ include('annonce/_delete_form.html.twig') }}
{% endblock %}
