{% extends 'base.html.twig' %}

{% block title %}CANDIDAT :: TRT Conseil{% endblock %}

{% block body %}

  {{ include('parts/_header.html.twig') }}

  <div class="large-center-wrapper mb-5">
    <div class="page-title-wrapper">
        <h2>CANDIDAT</h2>
    </div>

    <div class="inner-center-wrapper">
      <h3>Candidature enregistrée</h3>
      <div class="alert alert-success text-center mt-3">
        La candidature du candidat {{ candidateFirstName }} {{ candidateLastName }} pour le poste de {{ jobOffer.title }} a bien été enregistrée. Elle sera validée par nos consultants sous peu.
      </div>
      <a class="btn btn-primary button-shadow mt-3" href="{{ path('app_candidate') }}" role="button">Retour</a>
    </div>
  </div>

{% endblock %}