{% extends 'base.html.twig' %}

{% block title %}Mon profil{% endblock %}

{% block body %}
    <h1>Mon profil</h1>

    <table class="table table-striped">
        <thead>
            <tr>
                <th>Email</th>
                <th>Prénom</th>
                <th>Nom</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <td>{{ user.email }}</td>
                <td>{{ user.firstname }}</td>
                <td>{{ user.lastname }}</td>
                <td>
                    <a class="btn btn-info" href="{{ path('app_user_show', {'id': user.id}) }}">Voir</a>
                    <a class="btn btn-primary" href="{{ path('app_user_edit', {'id': user.id}) }}">Modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">Aucun profil</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a class="btn btn-primary" href="{{ path('app_user_new') }}">Créer un nouveau compte</a>
{% endblock %}
